<div>
  <div class="combat-actions">
    <div class="action" data-action="defend">
      <i class="fas fa-shield-alt"></i> Defend
    </div>
    <div class="action" data-action="disengage">
      <i class="fas fa-walking"></i> Disengage
    </div>
    <div class="action" data-action="morale">
      <i class="fas fa-exclamation-circle"></i> Morale
    </div>
    <div class="action" data-action="grapple">
      <i class="fa fa-fist-raised"></i> Grapple
    </div>
    <div class="action" data-action="mounted">
      <i class="fas fa-chess-knight"></i> Mount Action
    </div>
  </div>
  <div class="combat-container">
    <div>
      <ol class="items-list">
        <h2>Armaments</h2>
        <li class="grid grid-13col skill-header-container">
          <div class="skill-item-name-header grid-span-4">Name</div>
          <div class="skill-item-header grid-span-2">Damage</div>
          <div class="skill-item-header grid-span-2">Elemental Damage</div>
          <div class="skill-item-header grid-span-2">Element</div>
          <div class="skill-item-header grid-span-2">Overload Points</div>
          <div class="skill-item-header-controls">&nbsp;</div>
        </li>
        <div class="skill-container armament">
        {{#each data.armaments as |armament id|}}
          <li class="armament-container item-container expand-container" data-item-id="{{armament._id}}">
            <div class="grid grid-13col skill-item-container ">
              <div class="grid-span-4 armament-name expand-controller" data-item-id="{{armament._id}}">{{armament.name}}</div>
              <div class="skill-item grid-span-2">StrB+{{armament.data.damage.value}}</div>
              <div class="skill-item grid-span-2">+{{armament.data.elementDamage.value}}</div>
              <div class="skill-item grid-span-2">{{armament.data.selectedElement.display}}</div>
              <div class="skill-item grid-span-2">{{armament.data.overloadPoints}}</div>
              <div class="skill-item">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            <div class="expandable" style="max-height: 1000px" data-item-id="{{armament._id}}">
              {{#ifEquals armament.data.armamentType "Battle Standard"}}
                <div class="orders">
                  Command Queue: 
                  {{#each armament.flags.tpo.orders as |order id|}}
                    <select id="{{order.id}}" class="order-input" name="order.value" type="text" value="{{order.value}}" title="Right Click to Delete">
                    {{#select order.value}}
                      <option value="left">←</option>
                      <option value="right">→</option>
                      <option value="up">↑</option>
                      <option value="down">↓</option>
                    {{/select}}
                    </select>
                  {{/each}}
                  <i class="fas fa-plus-circle rollable add-order"></i>
                </div>
              {{/ifEquals}}
              {{#ifEquals armament.data.armamentType "Lance"}}
                <div class="stamina">
                  Stamina:
                  {{#if armament.flags.tpo.stamina.pointOne}}
                    <input id="pointOne" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointOne" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                  {{#if armament.flags.tpo.stamina.pointTwo}}
                    <input id="pointTwo" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointTwo" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                  {{#if armament.flags.tpo.stamina.pointThree}}
                    <input id="pointThree" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointThree" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                </div>
              {{/ifEquals}}
              {{#ifEquals armament.data.armamentType "Gunlance"}}
                <div class="stamina">
                  Phials:
                  {{#if armament.flags.tpo.stamina.pointOne}}
                    <input id="pointOne" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointOne" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                  {{#if armament.flags.tpo.stamina.pointTwo}}
                    <input id="pointTwo" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointTwo" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                  {{#if armament.flags.tpo.stamina.pointThree}}
                    <input id="pointThree" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                  {{else}}
                    <input id="pointThree" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                  {{/if}}
                  {{#greaterThan armament.flags.tpo.stamina.maxCap 3}}
                    {{#if armament.flags.tpo.stamina.pointFour}}
                      <input id="pointFour" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                    {{else}}
                      <input id="pointFour" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                    {{/if}}
                  {{/greaterThan}}
                  {{#greaterThan armament.flags.tpo.stamina.maxCap 4}}
                    {{#if armament.flags.tpo.stamina.pointFive}}
                      <input id="pointFive" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                    {{else}}
                      <input id="pointFive" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                    {{/if}}
                  {{/greaterThan}}
                  {{#greaterThan armament.flags.tpo.stamina.maxCap 5}}
                    {{#if armament.flags.tpo.stamina.pointSix}}
                      <input id="pointSix" class="stamina-checkbox" type="checkbox" checked data-dtype="Boolean"/>
                    {{else}}
                      <input id="pointSix" class="stamina-checkbox" type="checkbox" data-dtype="Boolean"/>
                    {{/if}}
                  {{/greaterThan}}
                </div>
              {{/ifEquals}}
              {{#ifEquals armament.data.armamentType "Arquebus"}}
                {{#if armament.flags.tpo.loadedAmmo.isEjected}}
                  Loaded Ammo: 
                {{else}}
                  Magazine: 
                {{/if}}
                <select id="slotOne" class="loaded-input" name="armament.flags.tpo.loadedAmmo.slotOne" type="text" value="{{armament.flags.tpo.loadedAmmo.slotOne}}">
                {{#select armament.flags.tpo.loadedAmmo.slotOne}}
                  <option value="Unloaded">Unloaded</option>
                  {{#each armament.data.miscPowers as |power id|}}
                  <option value="{{power.name}}">{{power.name}}</option>
                  {{/each}}
                {{/select}}
                </select>
                {{#greaterThan armament.flags.tpo.loadedAmmo.max 1}}
                <select id="slotTwo" class="loaded-input" name="armament.flags.tpo.loadedAmmo.slotTwo" type="text" value="{{armament.flags.tpo.loadedAmmo.slotTwo}}">
                  {{#select armament.flags.tpo.loadedAmmo.slotTwo}}
                    <option value="Unloaded">Unloaded</option>
                    {{#each armament.data.miscPowers as |power id|}}
                    <option value="{{power.name}}">{{power.name}}</option>
                    {{/each}}
                  {{/select}}
                  </select>
                {{/greaterThan}}
                {{#greaterThan armament.flags.tpo.loadedAmmo.max 2}}
                <select id="slotThree" class="loaded-input" name="armament.flags.tpo.loadedAmmo.slotThree" type="text" value="{{armament.flags.tpo.loadedAmmo.slotThree}}">
                  {{#select armament.flags.tpo.loadedAmmo.slotThree}}
                    <option value="Unloaded">Unloaded</option>
                    {{#each armament.data.miscPowers as |power id|}}
                    <option value="{{power.name}}">{{power.name}}</option>
                    {{/each}}
                  {{/select}}
                  </select>
                {{/greaterThan}}
              {{/ifEquals}}
              <div class="container-header">Powers ({{armament.data.capacity.currentPowers}}/{{armament.data.capacity.power}})</div>
              {{#each armament.data.powers as |power id|}}
              <div class="power expand-container-nested power-draggable" data-item-id="{{power._id}}">
                <div class="header {{power.data.type}}">
                  <span class="name expand-controller-nested"><i class="fas fa-angle-down"></i> {{power.name}}</span>
                  <span class="type">
                    {{#ifNotEqual power.data.type "At-Will"}}
                      {{#if power.data.used}}
                        <input class="power-used {{power.data.type}}-check" type="checkbox" data-dtype="Boolean"/>
                      {{else}}
                        <input class="power-used {{power.data.type}}-check" type="checkbox" checked data-dtype="Boolean"/>
                      {{/if}}
                    {{/ifNotEqual}}
                    {{power.data.type}}
                  </span>
                </div>
                <div class="expandable">
                  <div class="subheader" data-power-id="{{power._id}}">
                    <span class="cost"><i title="Use Power" class="fas fa-dice-d20 powerRoll rollable"></i> {{power.data.apCost}} AP</span>
                    <span class="target">Target {{power.data.target}} <i title="Delete Power" class="fas fa-trash powerDelete rollable"></i></span>
                  </div>
                  <div class="description">{{{power.data.descriptionDisplay}}}</div>
                </div>
              </div>
              {{/each}}
              {{#greaterThan armament.data.capacity.currentMisc 0}}
                <div class="container-header">Misc. Powers ({{armament.data.capacity.currentMisc}}/{{armament.data.capacity.misc}})</div>
                {{#each armament.data.miscPowers as |power id|}}
                <div class="power expand-container-nested power-draggable" data-item-id="{{power._id}}">
                  <div class="header Misc expand-controller-nested">
                    <span class="name"><i class="fas fa-angle-down"></i> {{power.name}}</span>
                    <span class="type">{{power.data.type}}</span>
                  </div>
                  <div class="expandable">
                    <div class="subheader" data-power-id="{{power._id}}">
                      <span class="cost"><i title="Use Power" class="fas fa-dice-d20 powerRoll rollable"></i> {{power.data.apCost}} AP</span>
                      <span class="target">Target {{power.data.target}} <i title="Delete Power" class="fas fa-trash powerDelete rollable"></i></span>
                    </div>
                    <div class="description">{{{power.data.descriptionDisplay}}}</div>
                  </div>
                </div>
                {{/each}}
              {{/greaterThan}}
              <div class="container-header">Upgrades</div>
                {{#each armament.data.upgrades as |power id|}}
                <div class="power expand-container-nested power-draggable" data-item-id="{{power._id}}">
                  <div class="header Upgrade expand-controller-nested">
                    <span class="name"><i class="fas fa-angle-down"></i> {{power.name}}</span>
                    <i title="Delete Upgrade" class="fas fa-trash upgradeDelete rollable"></i>
                  </div>
                  <div class="expandable">
                    <div class="description">{{{power.data.descriptionDisplay}}}</div>
                  </div>
                </div>
                {{/each}}
            </div>
          </li>
        {{/each}}
        </div>
      </ol>
    </div>
    <div>
      <ol class="items-list unequipped-powers">
        <div class="unequipped-powers-dragmask"></div>
        <h3>Unequipped Powers/Upgrades</h3>
        <li class="grid grid-7col skill-header-container ">
          <div class="skill-item-name-header grid-span-2">Name</div>
          <div class="skill-item-header grid-span-2">Type</div>
          <div class="skill-item-header grid-span-2">Armament</div>
          <div class="skill-item-header-controls">&nbsp;</div>
        </li>
        <div class="skill-container">
        {{#each data.unsortedPowers as |power id|}}
          <li class="unused-power item-container expand-container power-draggable" data-item-id="{{power._id}}">
            <div class="header expand-controller grid grid-7col skill-item-container {{power.data.type}}">
              <div class="grid-span-2 name"><i class="fas fa-angle-down"></i> {{power.name}}</div>
              <div class="skill-item grid-span-2">{{power.data.type}}</div>
              <div class="skill-item grid-span-2">{{power.data.armamentType}}</div>
              <div class="skill-item trash">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            <div class="expandable">
              <div class="subheader">
                <span class="cost">{{power.data.apCost}} AP</span>
                <span class="target">Target {{power.data.target}} </span>
              </div>
              <div class="description">{{{power.data.descriptionDisplay}}}</div>
            </div>
          </li>
        {{/each}}
        </div>
      </ol>
    </div>
  </div>
  <!-- <div>
    <h2>Relics</h2>
  </div>
  <div>
    <h2>Mundane Weapons</h2>
  </div> -->
</div>