<div class="notes-container">
  <h2>Appearance</h2>
  <div class="appearance-container">
    <div class="item small">
      <input type="text" name="data.info.appearance.age.value" value="{{data.info.appearance.age.value}}" placeholder="{{localize data.info.appearance.age.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.age.label}}</label>
    </div>
    <div class="item small">
      <input type="text" name="data.info.appearance.height.value" value="{{data.info.appearance.height.value}}" placeholder="{{localize data.info.appearance.height.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.height.label}}</label>
    </div>
    <div class="item small">
      <input type="text" name="data.info.appearance.weight.value" value="{{data.info.appearance.weight.value}}" placeholder="{{localize data.info.appearance.weight.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.weight.label}}</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.appearance.skin-color.value" value="{{data.info.appearance.skin-color.value}}" placeholder="{{localize data.info.appearance.skin-color.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.skin-color.label}}</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.appearance.eye-color.value" value="{{data.info.appearance.eye-color.value}}" placeholder="{{localize data.info.appearance.eye-color.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.eye-color.label}}</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.appearance.hair-color.value" value="{{data.info.appearance.hair-color.value}}" placeholder="{{localize data.info.appearance.hair-color.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.hair-color.label}}</label>
    </div>
    <div class="item big">
      <input type="text" name="data.info.appearance.distinguishing-features.value" value="{{data.info.appearance.distinguishing-features.value}}" placeholder="{{localize data.info.appearance.distinguishing-features.label}}" data-dtype="String"/>
      <label>{{localize data.info.appearance.distinguishing-features.label}}</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.hobby.value" value="{{data.info.hobby.value}}" placeholder="{{localize data.info.hobby.label}}" data-dtype="String"/>
      <label>{{localize data.info.hobby.label}}</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.profession.value" value="{{data.info.profession.value}}" placeholder="{{localize data.info.profession.label}}" data-dtype="String"/>
      <label>{{localize data.info.profession.label}}</label>
    </div>
  </div>
  <h2>Aspirations</h2>
  <div class="aspiration-container">
    <div class="item">
      <input type="text" name="data.info.aspirations.short-term" value="{{data.info.aspirations.short-term}}" placeholder="Short Term" data-dtype="String"/>
      <label>Short Term</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.aspirations.long-term" value="{{data.info.aspirations.long-term}}" placeholder="Long Term" data-dtype="String"/>
      <label>Long Term</label>
    </div>
    <div class="item">
      <input type="text" name="data.info.aspirations.party" value="{{data.info.aspirations.party}}" placeholder="Party" data-dtype="String"/>
      <label>Party</label>
    </div>
  </div>
  <h2>About</h2>
  <div class="about-editor">
    {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}}
  </div>
</div>