<div class="inventory-header">
  <div class="money-header">
    <div class="money-grid grid grid-4col">
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.l" value="{{data.derived.encumbrance.money.l}}" data-dtype="Number"/>ℓ</span>
      <span>
        <i class="fas fa-caret-left rollable money-convert" title="1ℓ ← 20s" data-action="silverToPound"></i>
        <i class="fas fa-caret-right rollable money-convert" title="1ℓ → 20s" data-action="poundToSilver"></i>
      </span>
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.s" value="{{data.derived.encumbrance.money.s}}" data-dtype="Number"/>s</span>
      <span>
        <i class="fas fa-caret-left rollable money-convert" title="1s ← 10c" data-action="copperToSilver"></i>
        <i class="fas fa-caret-right rollable money-convert" title="1s → 10c" data-action="silverToCopper"></i>
      </span>
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.c" value="{{data.derived.encumbrance.money.c}}" data-dtype="Number"/>c = </span>
      <div class="money-total">{{data.derived.encumbrance.money.total}}ℓ</div>
    </div>
    <span class="money-label">Coin Purse</span>
  </div>
  <div class="splendor-header">
    <div class="splendor-grid grid grid-4col">
      <div class="splendor">{{data.info.splendor.items}}</div>
      <input type="text" name="data.info.splendor.mod" value="{{data.info.splendor.mod}}" data-dtype="Number"/>
      <div class="splendor">{{data.info.splendor.total}}</div>
      <div class="splendor rerolls">{{data.info.splendor.rerolls}}</div>
      <div class="label">Items</div>
      <div class="label">Mod</div>
      <div class="label">Total</div>
      <div class="label">Rerolls</div>
    </div>
    Splendor
  </div>
</div>
<div class="grid grid-3col">
  <div class="inventory-col">
    <h2 class="sticky-1">
      {{#if flags.tpo.overencumbered.lThigh}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Left Thigh&nbsp;
      ({{data.derived.encumbrance.locations.lThigh.value}}/{{data.derived.encumbrance.locations.lThigh.max}})
    </h2>
    <div class="inventory-section" data-location="lThigh">
      <div class="ap">1 AP to Retrieve/Stow</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header small-gap">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.lThigh as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col small-gap">
            <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{#if data.derived.encumbrance.locations.lScabbard.owned}}
    <h2 class="sticky-2">Scabbard&nbsp;<i title="Delete Item" class="fas fa-trash containerDelete rollable" data-location="lScabbard" data-type="Scabbard"></i></h2>
    <div class="inventory-section" data-location="lScabbard" data-type="Scabbard">
        <div class="ap">0 AP to Retrieve/Stow</div>
        <ul class="inventory-list">
          <li class="grid grid-5col header small-gap">
            <div class="grid-span-3">Name</div>
            <div class="field" title="Splendor">Spl</div>
            <div class="field" title="Encumberance">Enc</div>
          </li>
          {{#each data.inventory.lScabbard as |item id|}}
          <li class="inventory-item expand-container" data-item-id="{{item._id}}">
            <div class="grid grid-5col small-gap">
              <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
              <div class="field">{{item.data.splendor}}</div>
              <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
            </div>
            <div class="expandable" data-id="{{item._id}}">
              <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
              <div class="description">{{{item.data.description}}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
    </div>
    {{/if}}
    <h2 class="sticky-3">
        {{#if flags.tpo.overencumbered.lHip}}
          <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
        {{/if}}
        &nbsp;Left Hip&nbsp;
        ({{data.derived.encumbrance.locations.lHip.value}}/{{data.derived.encumbrance.locations.lHip.max}})
    </h2>
    <div class="inventory-section" data-location="lHip">
      <div class="ap">2 AP to Retrieve/Stow</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header small-gap">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.lHip as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col small-gap">
            <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
    {{#if data.derived.encumbrance.locations.lPouch.owned}}
    <h2 class="sticky-4">
      {{#if flags.tpo.overencumbered.lPouch}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Pouch&nbsp;
      ({{data.derived.encumbrance.locations.lPouch.value}}/{{data.derived.encumbrance.locations.lPouch.max}})&nbsp;
      <i title="Delete Item" class="fas fa-trash containerDelete rollable" data-location="lPouch" data-type="Pouch"></i>
    </h2>
    <div class="inventory-section" data-location="lPouch" data-type="Pouch">
        <div class="ap">2 AP to Retrieve/Stow</div>
        <ul class="inventory-list">
          <li class="grid grid-5col header small-gap">
            <div class="grid-span-3">Name</div>
            <div class="field" title="Splendor">Spl</div>
            <div class="field" title="Encumberance">Enc</div>
          </li>
          {{#each data.inventory.lPouch as |item id|}}
          <li class="inventory-item expand-container" data-item-id="{{item._id}}">
            <div class="grid grid-5col small-gap">
              <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
              <div class="field">{{item.data.splendor}}</div>
              <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
            </div>
            <div class="expandable" data-id="{{item._id}}">
              <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
              <div class="description">{{{item.data.description}}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
    </div>
    {{/if}}
  </div>
  <div class="inventory-col">
    <h2 class="sticky-1">
      {{#if flags.tpo.overencumbered.chest}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Chest&nbsp;
      ({{data.derived.encumbrance.locations.chest.value}}/{{data.derived.encumbrance.locations.chest.max}})
    </h2>
    <div class="inventory-section" data-location="chest">
      <div class="ap">3 AP to Retrieve/Stow</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header small-gap">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.chest as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col small-gap">
            <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
      {{/each}}
      </ul class="inventory-list">
    </div>
    {{#if data.derived.encumbrance.locations.backpack.owned}}
    <h2 class="sticky-4">
      {{#if flags.tpo.overencumbered.backpack}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Backpack&nbsp;
      ({{data.derived.encumbrance.locations.backpack.value}}/{{data.derived.encumbrance.locations.backpack.max}})&nbsp;
      <i title="Delete Item" class="fas fa-trash containerDelete rollable" data-location="backpack" data-type="Backpack"></i>
    </h2>
      <div class="inventory-section" data-location="backpack" data-type="Backpack">
        <div class="ap">3 AP to Retrieve/Stow</div>
        <ul>
          <li class="grid grid-5col header small-gap">
            <div class="grid-span-3">Name</div>
            <div class="field" title="Splendor">Spl</div>
            <div class="field" title="Encumberance">Enc</div>
          </li>
          {{#each data.inventory.backpack as |item id|}}
          <li class="inventory-item expand-container" data-item-id="{{item._id}}">
            <div class="grid grid-5col small-gap">
              <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
              <div class="field">{{item.data.splendor}}</div>
              <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
            </div>
            <div class="expandable" data-id="{{item._id}}">
              <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
              <div class="description">{{{item.data.description}}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
  <div class="inventory-col">
    <h2 class="sticky-1">
      {{#if flags.tpo.overencumbered.rThigh}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Right Thigh&nbsp;
      ({{data.derived.encumbrance.locations.rThigh.value}}/{{data.derived.encumbrance.locations.rThigh.max}})&nbsp;
    </h2>
    <div class="inventory-section" data-location="rThigh">
      <div class="ap">1 AP to Retrieve/Stow</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header small-gap">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.rThigh as |item id|}}
        <li class="inventory-item expand-container inventory-item" data-item-id="{{item._id}}">
          <div class="grid grid-5col small-gap">
            <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
    {{#if data.derived.encumbrance.locations.rScabbard.owned}}
    <h2 class="sticky-2">Scabbard&nbsp;<i title="Delete Item" class="fas fa-trash containerDelete rollable" data-location="rScabbard" data-type="Scabbard"></i></h2>
    <div class="inventory-section" data-location="rScabbard" data-type="Scabbard">
        <div class="ap">0 AP to Retrieve/Stow</div>
        <ul class="inventory-list">
          <li class="grid grid-5col header small-gap">
            <div class="grid-span-3">Name</div>
            <div class="field" title="Splendor">Spl</div>
            <div class="field" title="Encumberance">Enc</div>
          </li>
          {{#each data.inventory.rScabbard as |item id|}}
          <li class="inventory-item expand-container" data-item-id="{{item._id}}">
            <div class="grid grid-5col small-gap">
              <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
              <div class="field">{{item.data.splendor}}</div>
              <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
            </div>
            <div class="expandable" data-id="{{item._id}}">
              <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
              <div class="description">{{{item.data.description}}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    <h2 class="sticky-3">
      {{#if flags.tpo.overencumbered.rHip}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Right Hip&nbsp;
      ({{data.derived.encumbrance.locations.rHip.value}}/{{data.derived.encumbrance.locations.rHip.max}})
    </h2>
    <div class="inventory-section" data-location="rHip">
      <div class="ap">2 AP to Retrieve/Stow</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header small-gap">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.rHip as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col small-gap">
            <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
    {{#if data.derived.encumbrance.locations.rPouch.owned}}
    <h2 class="sticky-4">
      {{#if flags.tpo.overencumbered.rPouch}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      &nbsp;Pouch&nbsp;
      ({{data.derived.encumbrance.locations.rPouch.value}}/{{data.derived.encumbrance.locations.rPouch.max}})&nbsp;
      <i title="Delete Item" class="fas fa-trash containerDelete rollable" data-location="rPouch" data-type="Pouch"></i>
    </h2>
      <div class="inventory-section" data-location="rPouch" data-type="Pouch">
        <div class="ap">2 AP to Retrieve/Stow</div>
        <ul class="inventory-list">
          <li class="grid grid-5col header small-gap">
            <div class="grid-span-3">Name</div>
            <div class="field" title="Splendor">Spl</div>
            <div class="field" title="Encumberance">Enc</div>
          </li>
          {{#each data.inventory.rPouch as |item id|}}
          <li class="inventory-item expand-container" data-item-id="{{item._id}}">
            <div class="grid grid-5col small-gap">
              <div class="grid-span-3 name rollable expand-controller item-name" title="{{item.name}}" data-item-id="{{item._id}}">{{item.name}}</div>
              <div class="field">{{item.data.splendor}}</div>
              <div class="field rollable stack" data-item-id="{{item._id}}" title="{{#if item.data.stack.stackable}}Stack Enc (Stack Current/Stack Max){{/if}}">{{item.data.enc}}
              {{#if item.data.stack.stackable}}
                ({{item.data.stack.current}}/{{item.data.stack.max}})
              {{/if}}
            </div>
            </div>
            <div class="expandable" data-id="{{item._id}}">
              <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
              <div class="description">{{{item.data.description}}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>