<div class="inventory-header">
  <div class="money-header">
    <div class="money-grid grid grid-4col">
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.l" value="{{data.derived.encumbrance.money.l}}" data-dtype="Number"/>ℓ</span>
      <span>
        <i class="fas fa-caret-left rollable money-convert" title="1ℓ ← 20s" data-action="silverToPound"></i>
        <i class="fas fa-caret-right rollable money-convert" title="1ℓ → 20s" data-action="poundToSilver"></i>
      </span>
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.s" value="{{data.derived.encumbrance.money.s}}" data-dtype="Number"/>s</span>
      <span>
        <i class="fas fa-caret-left rollable money-convert" title="1s ← 10c" data-action="copperToSilver"></i>
        <i class="fas fa-caret-right rollable money-convert" title="1s → 10c" data-action="silverToCopper"></i>
      </span>
      <span class="money"><input class="money-field" type="text" name="data.derived.encumbrance.money.c" value="{{data.derived.encumbrance.money.c}}" data-dtype="Number"/>c = </span>
      <div class="money-total">{{data.derived.encumbrance.money.total}}ℓ</div>
    </div>
    <span class="money-label">Coin Purse</span>
  </div>
  <div class="splendor-header">
    <div class="splendor-grid grid grid-4col">
      <div class="splendor">{{data.info.splendor.items}}</div>
      <input type="text" name="data.info.splendor.mod" value="{{data.info.splendor.mod}}" data-dtype="Number"/>
      <div class="splendor">{{data.info.splendor.total}}</div>
      <div class="splendor rerolls">{{data.info.splendor.rerolls}}</div>
      <div class="label">Items</div>
      <div class="label">Mod</div>
      <div class="label">Total</div>
      <div class="label">Rerolls</div>
    </div>
    Splendor
  </div>
</div>
<div class="grid grid-5col">
  <div class="inventory-section" data-location="lThigh">
    <h2>
      {{#if flags.tpo.overencumbered.lThigh}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      Left Thigh
    </h2>
    <div class="ap">1 AP to Retrieve/Stow</div>
    <div class="cap">Capacity ({{data.derived.encumbrance.locations.lThigh.value}}/{{data.derived.encumbrance.locations.lThigh.max}})</div>
    <ul class="inventory-list">
      <li class="grid grid-5col header">
        <div class="grid-span-3">Name</div>
        <div class="field" title="Splendor">Spl</div>
        <div class="field" title="Encumberance">Enc</div>
      </li>
      {{#each data.inventory.lThigh as |item id|}}
      <li class="inventory-item expand-container" data-item-id="{{item._id}}">
        <div class="grid grid-5col">
          <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
          <div class="field">{{item.data.splendor}}</div>
          <div class="field">{{item.data.enc}}
            {{#if item.stack.stackable}}
              ({{item.stack.current}}/{{item.stack.max}})
            {{/if}}
          </div>
        </div>
        <div class="expandable" data-id="{{item._id}}">
          <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
          <div class="description">{{{item.data.description}}}</div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{#if data.derived.encumbrance.locations.lScabbard.owned}}
    <div class="inventory-section" data-location="lScabbard" data-type="Scabbard">
      <h2>Scabbard <i title="Delete Item" class="fas fa-trash containerDelete rollable"></i></h2>
      <div class="ap">0 AP to Retrieve/Stow</div>
      <div class="cap">Capacity</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.lScabbard as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col">
            <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field">{{item.data.enc}}
              {{#if item.stack.stackable}}
                ({{item.stack.current}}/{{item.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="inventory-section" data-location="lHip">
    <h2>
      {{#if flags.tpo.overencumbered.lHip}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      Left Hip
    </h2>
    <div class="ap">2 AP to Retrieve/Stow</div>
    <div class="cap">Capacity ({{data.derived.encumbrance.locations.lHip.value}}/{{data.derived.encumbrance.locations.lHip.max}})</div>
    <ul class="inventory-list">
      <li class="grid grid-5col header">
        <div class="grid-span-3">Name</div>
        <div class="field" title="Splendor">Spl</div>
        <div class="field" title="Encumberance">Enc</div>
      </li>
      {{#each data.inventory.lHip as |item id|}}
      <li class="inventory-item expand-container" data-item-id="{{item._id}}">
        <div class="grid grid-5col">
          <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
          <div class="field">{{item.data.splendor}}</div>
          <div class="field">{{item.data.enc}}
            {{#if item.stack.stackable}}
              ({{item.stack.current}}/{{item.stack.max}})
            {{/if}}
          </div>
        </div>
        <div class="expandable" data-id="{{item._id}}">
          <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
          <div class="description">{{{item.data.description}}}</div>
        </div>
      </li>
    {{/each}}
    </ul>
    {{#if data.derived.encumbrance.locations.lPouch.owned}}
    <div class="inventory-section" data-location="lPouch" data-type="Pouch">
      <h2>
        {{#if flags.tpo.overencumbered.lPouch}}
          <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
        {{/if}}
        Pouch 
        <i title="Delete Item" class="fas fa-trash containerDelete rollable"></i>
      </h2>
      <div class="ap">2 AP to Retrieve/Stow</div>
      <div class="cap">Capacity ({{data.derived.encumbrance.locations.lPouch.value}}/{{data.derived.encumbrance.locations.lPouch.max}})</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.lPouch as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col">
            <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field">{{item.data.enc}}
              {{#if item.stack.stackable}}
                ({{item.stack.current}}/{{item.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="inventory-section" data-location="chest">
    <h2>
      {{#if flags.tpo.overencumbered.chest}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      Chest
    </h2>
    <div class="ap">3 AP to Retrieve/Stow</div>
    <div class="cap">Capacity ({{data.derived.encumbrance.locations.chest.value}}/{{data.derived.encumbrance.locations.chest.max}})</div>
    <ul class="inventory-list">
      <li class="grid grid-5col header">
        <div class="grid-span-3">Name</div>
        <div class="field" title="Splendor">Spl</div>
        <div class="field" title="Encumberance">Enc</div>
      </li>
      {{#each data.inventory.chest as |item id|}}
      <li class="inventory-item expand-container" data-item-id="{{item._id}}">
        <div class="grid grid-5col">
          <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
          <div class="field">{{item.data.splendor}}</div>
          <div class="field">{{item.data.enc}}
            {{#if item.stack.stackable}}
              ({{item.stack.current}}/{{item.stack.max}})
            {{/if}}
          </div>
        </div>
        <div class="expandable" data-id="{{item._id}}">
          <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
          <div class="description">{{{item.data.description}}}</div>
        </div>
      </li>
    {{/each}}
    </ul class="inventory-list">
    {{#if data.derived.encumbrance.locations.backpack.owned}}
    <div class="inventory-section" data-location="backpack" data-type="Backpack">
      <h2>
        {{#if flags.tpo.overencumbered.backpack}}
          <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
        {{/if}}
        Backpack 
        <i title="Delete Item" class="fas fa-trash containerDelete rollable"></i>
      </h2>
      <div class="ap">3 AP to Retrieve/Stow</div>
      <div class="cap">Capacity ({{data.derived.encumbrance.locations.backpack.value}}/{{data.derived.encumbrance.locations.backpack.max}})</div>
      <ul>
        <li class="grid grid-5col header">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.backpack as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col">
            <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field">{{item.data.enc}}
              {{#if item.stack.stackable}}
                ({{item.stack.current}}/{{item.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="inventory-section" data-location="rHip">
    <h2>
      {{#if flags.tpo.overencumbered.rHip}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      Right Hip
    </h2>
    <div class="ap">2 AP to Retrieve/Stow</div>
    <div class="cap">Capacity ({{data.derived.encumbrance.locations.rHip.value}}/{{data.derived.encumbrance.locations.rHip.max}})</div>
    <ul class="inventory-list">
      <li class="grid grid-5col header">
        <div class="grid-span-3">Name</div>
        <div class="field" title="Splendor">Spl</div>
        <div class="field" title="Encumberance">Enc</div>
      </li>
      {{#each data.inventory.rHip as |item id|}}
      <li class="inventory-item expand-container" data-item-id="{{item._id}}">
        <div class="grid grid-5col">
          <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
          <div class="field">{{item.data.splendor}}</div>
          <div class="field">{{item.data.enc}}
            {{#if item.stack.stackable}}
              ({{item.stack.current}}/{{item.stack.max}})
            {{/if}}
          </div>
        </div>
        <div class="expandable" data-id="{{item._id}}">
          <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
          <div class="description">{{{item.data.description}}}</div>
        </div>
      </li>
    {{/each}}
    </ul>
    {{#if data.derived.encumbrance.locations.rPouch.owned}}
    <div class="inventory-section" data-location="rPouch" data-type="Pouch">
      <h2>
        {{#if flags.tpo.overencumbered.rPouch}}
          <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
        {{/if}}
        Pouch <i title="Delete Item" class="fas fa-trash containerDelete rollable"></i>
      </h2>
      <div class="ap">3 AP to Retrieve/Stow</div>
      <div class="cap">Capacity ({{data.derived.encumbrance.locations.rPouch.value}}/{{data.derived.encumbrance.locations.rPouch.max}})</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.rPouch as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col">
            <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field">{{item.data.enc}}
              {{#if item.stack.stackable}}
                ({{item.stack.current}}/{{item.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
  <div class="inventory-section" data-location="rThigh">
    <h2>
      {{#if flags.tpo.overencumbered.rThigh}}
        <i title="Overencumbered!" class="fas fa-exclamation-triangle"></i>
      {{/if}}
      Right Thigh
    </h2>
    <div class="ap">1 AP to Retrieve/Stow</div>
    <div class="cap">Capacity ({{data.derived.encumbrance.locations.rThigh.value}}/{{data.derived.encumbrance.locations.rThigh.max}})</div>
    <ul class="inventory-list">
      <li class="grid grid-5col header">
        <div class="grid-span-3">Name</div>
        <div class="field" title="Splendor">Spl</div>
        <div class="field" title="Encumberance">Enc</div>
      </li>
      {{#each data.inventory.rThigh as |item id|}}
      <li class="inventory-item expand-container inventory-item" data-item-id="{{item._id}}">
        <div class="grid grid-5col">
          <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
          <div class="field">{{item.data.splendor}}</div>
          <div class="field">{{item.data.enc}}
            {{#if item.stack.stackable}}
              ({{item.stack.current}}/{{item.stack.max}})
            {{/if}}
          </div>
        </div>
        <div class="expandable" data-id="{{item._id}}">
          <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
          <div class="description">{{{item.data.description}}}</div>
        </div>
      </li>
    {{/each}}
    </ul>
    {{#if data.derived.encumbrance.locations.rScabbard.owned}}
    <div class="inventory-section" data-location="rScabbard" data-type="Scabbard">
      <h2>Scabbard <i title="Delete Item" class="fas fa-trash containerDelete rollable"></i></h2>
      <div class="ap">0 AP to Retrieve/Stow</div>
      <div class="cap">Capacity</div>
      <ul class="inventory-list">
        <li class="grid grid-5col header">
          <div class="grid-span-3">Name</div>
          <div class="field" title="Splendor">Spl</div>
          <div class="field" title="Encumberance">Enc</div>
        </li>
        {{#each data.inventory.rScabbard as |item id|}}
        <li class="inventory-item expand-container" data-item-id="{{item._id}}">
          <div class="grid grid-5col">
            <div class="grid-span-3 name rollable expand-controller" title="{{item.name}}">{{item.name}}</div>
            <div class="field">{{item.data.splendor}}</div>
            <div class="field">{{item.data.enc}}
              {{#if item.stack.stackable}}
                ({{item.stack.current}}/{{item.stack.max}})
              {{/if}}
            </div>
          </div>
          <div class="expandable" data-id="{{item._id}}">
            <i title="Delete Item" class="fas fa-trash itemDelete rollable"></i>
            <div class="description">{{{item.data.description}}}</div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
</div>