.window-app {
  font-family: $font-primary;
}

.window-app .window-content {
  overflow-y: hidden;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.critSuccess {
  color: #51632C;
  font-weight: bold;
  text-shadow: 1px 1px 2px #8f8989;
}

.critFailure {
  color: #642422;
  font-weight: bold;
  text-shadow: 1px 1px 2px #8f8989;
}