<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="sidebar-container">
    <div class="sidebar">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
      <a title="{{localize 'SYS.Rest'}}" id="hp-heal" class="rest"><i class="fas fa-campground"></i></a>
      <div class="resource" title="{{localize 'TIP.Resolve'}}">
        <div class="resource-content flexrow flex-center flex-between nowrap resolve-container">
          {{#if system.info.resolve.resolve1}}
          <input class="resolve" id="resolve1" type="checkbox" checked data-dtype="Boolean"/>
          <label id="resolve1box" for="resolve1"></label>
          {{else}}
          <input class="resolve" id="resolve1" type="checkbox" data-dtype="Boolean"/>
          <label id="resolve1box" for="resolve1"></label>
          {{/if}}
          {{#if system.info.resolve.resolve2}}
          <input class="resolve" id="resolve2" type="checkbox" checked data-dtype="Boolean"/>
          <label id="resolve2box" for="resolve2"></label>
          {{else}}
          <input class="resolve" id="resolve2" type="checkbox" data-dtype="Boolean"/>
          <label id="resolve2box" for="resolve2"></label>
          {{/if}}
          {{#if system.info.resolve.resolve3}}
          <input class="resolve" id="resolve3" type="checkbox" checked data-dtype="Boolean"/>
          <label id="resolve3box" for="resolve3"></label>
          {{else}}
          <input class="resolve" id="resolve3" type="checkbox" data-dtype="Boolean"/>
          <label id="resolve3box" for="resolve3"></label>
          {{/if}}
        </div>
        <label for="system.info.resolve.value" class="resource-label">{{localize system.info.resolve.label}}</label>
      </div>
      
      <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between bracket small" title="{{localize 'TIP.Movement'}}">
            {{#if system.autocalc.movement}}
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="movement" class="field">{{system.derived.movement.value}}</a>
            {{else}}
            <div class="autocalc">
              <input type="text" name="system.derived.movement.value" value="{{system.derived.movement.value}}" data-dtype="Number"/>
              <a title="{{localize 'SYS.ToggleAutocalc'}}" id="movement" class="reset"><i class="fas fa-reply"></i></a>
            </div>
            {{/if}}
        </div>
        <label for="system.derived.movement.value" class="resource-label">{{system.derived.movement.label}}</label>  
      </div>
      <div class="resource flex-group-center" title="{{localize 'TIP.AP'}}">
        <div class="resource-content flexrow flex-center flex-between bracket base">
          <input class="two-value" type="text" name="system.derived.ap.value" value="{{system.derived.ap.value}}" data-dtype="Number"/>
          {{#if system.autocalc.ap}}
          <a title="{{localize 'SYS.ToggleAutocalc'}}" id="ap-max" class="field two-value">{{system.derived.ap.max}}</a>
          {{else}}
          <div class="two-value autocalc">
            <input type="text" name="system.derived.ap.max" value="{{system.derived.ap.max}}" data-dtype="Number"/>
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="ap-max" class="reset"><i class="fas fa-reply"></i></a>
          </div>
          {{/if}}
        </div>
        <label for="system.derived.ap.value" class="resource-label">{{system.derived.ap.abrev}}</label>
      </div>
      <div class="resource flex-group-center" title="{{localize 'TIP.HP'}}">
        <div class="resource-content flexrow flex-center flex-between bracket base-no-wings">
          <input class="two-value" type="text" name="system.derived.hp.value" value="{{system.derived.hp.value}}" data-dtype="Number"/>
          {{#if system.autocalc.hp}}
          <a title="{{localize 'SYS.ToggleAutocalc'}}" id="hp-max" class="field two-value">{{system.derived.hp.max}}</a>
          {{else}}
          <div class="two-value autocalc">
            <input type="text" name="system.derived.hp.max" value="{{system.derived.hp.max}}" data-dtype="Number"/>
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="hp-max" class="reset"><i class="fas fa-reply"></i></a>
          </div>
          {{/if}}
        </div>
        <label for="system.derived.hp.value" class="resource-label">
        {{system.derived.hp.abrev}}
        </label>
      </div>
      <div class="resource flex-group-center" title="{{localize 'TIP.TempHP'}}">
        <div class="resource-content flexrow flex-center flex-between bracket low-no-wings">
          <input class="two-value" type="text" name="system.derived.tempHp.value" value="{{system.derived.tempHp.value}}" data-dtype="Number"/>
          {{#if system.autocalc.thp}}
          <a title="{{localize 'SYS.ToggleAutocalc'}}" id="thp-max" class="field two-value">{{system.derived.tempHp.max}}</a>
          {{else}}
          <div class="two-value autocalc">
            <input type="text" name="system.derived.tempHp.max" value="{{system.derived.tempHp.max}}" data-dtype="Number"/>
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="thp-max" class="reset"><i class="fas fa-reply"></i></a>
          </div>
          {{/if}}
        </div>
        <label for="system.derived.tempHp.value" class="resource-label">{{system.derived.tempHp.abrev}}</label>
      </div>
  
      <div class="resource flex-group-center two-items" title="{{localize 'TIP.Bloodied'}}">
        <div class="container">
          <div class="resource-content flexrow flex-center flex-between bracket none">
            <input type="text" name="system.derived.wounds.value" value="{{system.derived.wounds.value}}" data-dtype="Number"/>
          </div>
          <label for="system.derived.wounds.value" class="resource-label">{{system.derived.wounds.label}}</label>
        </div>
        <div class="container">
          <div class="resource-content flexrow flex-center flex-between bracket none">
            {{#if system.autocalc.bloodied}}
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="bloodied" class="field">{{system.derived.bloodied.value}}</a>
            {{else}}
            <div class="autocalc">
              <input type="text" name="system.derived.bloodied.value" value="{{system.derived.bloodied.value}}" data-dtype="Number"/>
              <a title="{{localize 'SYS.ToggleAutocalc'}}" id="bloodied" class="reset"><i class="fas fa-reply"></i></a>
            </div>
            {{/if}}
          </div>
          <label for="system.derived.bloodied.value" class="resource-label">{{system.derived.bloodied.label}}</label>
        </div>
      </div>
  
      <div class="resource flex-group-center" title="{{localize 'TIP.Absorption'}}">
        <div class="resource-content flexrow flex-center flex-between bracket absorption">
          <span class="absorption-item baseabs">
            {{#if system.autocalc.absorption}}
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="absorption" class="field two-value">{{system.derived.absorption.value}}</a>
            {{else}}
            <div class="two-value autocalc">
              <input type="text" name="system.derived.absorption.value" value="{{system.derived.absorption.value}}" data-dtype="Number"/>
              <a title="{{localize 'SYS.ToggleAutocalc'}}" id="absorption" class="reset"><i class="fas fa-reply"></i></a>
            </div>
            {{/if}}
            <span class="absorption-label">Base</span>
          </span>
          <span class="absorption-item total">
            <span class="field">{{system.derived.absorption.total}}</span>
            <span class="absorption-label">Total</span>
          </span>
          <span class="absorption-item armor">
            {{#if system.autocalc.absorption}}
            <a title="{{localize 'SYS.ToggleAutocalc'}}" id="armor-absorption" class="field two-value">{{system.derived.absorption.armor}}</a>
            {{else}}
            <div class="two-value autocalc">
              <input type="text" name="system.derived.absorption.armor" value="{{system.derived.absorption.armor}}" data-dtype="Number"/>
              <a title="{{localize 'SYS.ToggleAutocalc'}}" id="armor-absorption" class="reset"><i class="fas fa-reply"></i></a>
            </div>
            {{/if}}
            <span class="absorption-label">Armor</span>
          </span>
        </div>
        <label for="system.derived.absorption.value" class="resource-label">{{system.derived.absorption.label}}</label>
      </div>
  
      <div class="resource flex-group-center elements">
        <div class="elemental-resistances">
          <div id="fire" class="rollable select-fire element-resist {{system.details.elementalResistances.fire}}">
            <i class="fas fa-fire" data-tooltip="Fire"></i>
          </div>
          <div id="elec" class="rollable select-electric element-resist {{system.details.elementalResistances.elec}}">
            <i class="fas fa-bolt" data-tooltip="Electricity"></i>
          </div>
          <div id="dragon" class="rollable select-dragon element-resist {{system.details.elementalResistances.dragon}}">
            <i class="fas fa-dragon" data-tooltip="Dragon"></i>
          </div>
          <div id="ice" class="rollable select-ice element-resist {{system.details.elementalResistances.ice}}">
            <i class="fas fa-snowflake" data-tooltip="Ice"></i>
          </div>
          <div id="water" class="rollable select-water element-resist {{system.details.elementalResistances.water}}">
            <i class="fas fa-tint" data-tooltip="Water"></i>
          </div>
        </div>
        <label for="system.details.elementalResistances.dragon" class="resource-label">Elemental Resistances</label>
      </div>
    </div>
      <div class="grid grid-3col xp">
        <input class="xp-item" type="text" name="system.info.xp.earned" value="{{system.info.xp.earned}}" placeholder="Earned" data-dtype="Number"/>
        <input class="xp-item" type="text" name="system.info.xp.spent" value="{{system.info.xp.spent}}" placeholder="Spent" data-dtype="Number"/>
        <div class="xp-item">{{system.info.xp.value}}</div>
        <div class="xp-header">Earned</div>
        <div class="xp-header">Spent</div>
        <div class="xp-header">Left</div>
        <div class="grid-span-3" title="{{localize 'TIP.XP'}}">{{localize system.info.xp.label}}</div>
      </div>
    <div class="fate">
      <input type="text" name="system.info.fates.fate1.value" value="{{system.info.fates.fate1.value}}" placeholder="Fate"/>
      <select title="{{localize 'TIP.Fate'}}" name="system.info.fates.fate1.type" type="text" value="{{system.info.fates.fate1.type}}">
        {{#select system.info.fates.fate1.type}}
        <option value="{{localize 'CHAR.NobleFate'}}">{{localize 'CHAR.NobleFate'}}</option>
        <option value="{{localize 'CHAR.IgnobleFate'}}">{{localize 'CHAR.IgnobleFate'}}</option>
        {{/select}}
      </select>
    </div>
    <div class="fate">
      <input type="text" name="system.info.fates.fate2.value" value="{{system.info.fates.fate2.value}}" placeholder="Fate"/>
      <select title="{{localize 'TIP.Fate'}}" name="system.info.fates.fate2.type" type="text" value="{{system.info.fates.fate2.type}}">
        {{#select system.info.fates.fate2.type}}
        <option value="{{localize 'CHAR.NobleFate'}}">{{localize 'CHAR.NobleFate'}}</option>
        <option value="{{localize 'CHAR.IgnobleFate'}}">{{localize 'CHAR.IgnobleFate'}}</option>
        {{/select}}
      </select>
    </div>
    <div class="fate">
      <input type="text" name="system.info.fates.fate3.value" value="{{system.info.fates.fate3.value}}" placeholder="Fate"/>
      <select title="{{localize 'TIP.Fate'}}" name="system.info.fates.fate3.type" type="text" value="{{system.info.fates.fate3.type}}">
        {{#select system.info.fates.fate3.type}}
        <option value="{{localize 'CHAR.NobleFate'}}">{{localize 'CHAR.NobleFate'}}</option>
        <option value="{{localize 'CHAR.IgnobleFate'}}">{{localize 'CHAR.IgnobleFate'}}</option>
        {{/select}}
      </select>
    </div>
  </div>
  <div>
    {{!-- Sheet Header --}}
    <header class="sheet-header-char">
      <div class="top-header">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <h1 class="charspecies">
          <select title="{{localize 'TIP.Species'}}" name="system.details.species.value" type="text" value="{{system.details.species.value}}">
            {{#select system.details.species.value}}
            <optgroup label="{{localize 'SPECIES.Human'}}">
              <option value="{{localize 'SPECIES.Ri'}}">{{localize 'SPECIES.Ri'}}</option>
              <option value="{{localize 'SPECIES.Hielan'}}">{{localize 'SPECIES.Hielan'}}</option>
              <option value="{{localize 'SPECIES.Daoine'}}">{{localize 'SPECIES.Daoine'}}</option>
              <option value="{{localize 'SPECIES.Auldlonder'}}">{{localize 'SPECIES.Auldlonder'}}</option>
            </optgroup>
            <optgroup label="{{localize 'SPECIES.Lide'}}">
              <option value="{{localize 'SPECIES.Slepilide'}}">{{localize 'SPECIES.Slepilide'}}</option>
              <option value="{{localize 'SPECIES.Ocnilide'}}">{{localize 'SPECIES.Ocnilide'}}</option>
            </optgroup>
            <optgroup label="{{localize 'SPECIES.Rahvas'}}">
              <option value="{{localize 'SPECIES.Raivoaa'}}">{{localize 'SPECIES.Raivoaa'}}</option>
              <option value="{{localize 'SPECIES.Narvid'}}">{{localize 'SPECIES.Narvid'}}</option>
            </optgroup>
            <optgroup label="{{localize 'SPECIES.Thuskos'}}">
              <option value="{{localize 'SPECIES.Thulanjos'}}">{{localize 'SPECIES.Thulanjos'}}</option>
              <option value="{{localize 'SPECIES.Ildere'}}">{{localize 'SPECIES.Ildere'}}</option>
            </optgroup>
            {{/select}}
          </select>
        </h1>
        <h1 class="chargender"><input name="system.details.gender.value" type="text" value="{{system.details.gender.value}}" placeholder="{{localize system.details.gender.label}}"/></h1>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in actor-sheet.mjs --}}
      <a class="tab-item" data-tab="features">Main</a>
      <a class="tab-item" data-tab="combat">Combat</a>
      <a class="tab-item" data-tab="abilities">Abilities</a>
      <a class="tab-item" data-tab="items">Inventory</a>
      <a class="tab-item" data-tab="description">Notes</a>
      <a class="tab-item" data-tab="effects">Effects</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body body-override">
      {{!-- Owned Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <section class="grid grid-3col">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          {{!-- For the main features list, span the right two columns --}}
          <section class="main grid-span-3">
            {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
            {{> "systems/tpo/templates/actor/parts/actor-features.html"}}
          </section>
        </section>
      </div>
      {{!-- Combat Tab --}}
      <div class="tab items" data-group="primary" data-tab="combat">
        {{> "systems/tpo/templates/actor/parts/actor-combat.html"}}
      </div>
      {{!-- Abilities Tab --}}
      <div class="tab items" data-group="primary" data-tab="abilities">
        {{> "systems/tpo/templates/actor/parts/actor-abilities.html"}}
      </div>
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/tpo/templates/actor/parts/actor-items.html"}}
      </div>
      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
        {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
        {{> "systems/tpo/templates/actor/parts/actor-notes.html"}}
      </div>
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        {{> "systems/tpo/templates/actor/parts/actor-effects.html"}}
      </div>
    </section>
  </div>
</form>
