.item-form {
  font-family: $font-primary;
}

.sheet-header-char {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  .top-header {
    display: flex;
  }

  .header-fields {
    flex: 1;
    display: flex;

    .field {
      font-family: $font-secondary;
      font-size: 18px;
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--form-field-height);
    }

    input {
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
      font-family: $font-secondary;
      font-size: 18px;
    }
    .two-value:nth-child(2n) {
      border-left: 1px solid var(--color-border-light-tertiary);
    }
  }

  h1.charname {
    padding: 0px;
    border-bottom: 0;
    font-size: 1em;
    flex-grow: 3;
    margin-right: 5px;
    margin-top: .2em;
    margin-left: .2em;
    margin-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
      font-family: $font-secondary;
      font-size: 18px;
    }
  }

  h1.charspecies{
    font-size: 1em;
    border-bottom: 0;
    margin-right: 5px;
    margin-top: .2em;
    margin-bottom: 0;
    select {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
      font-family: $font-secondary;
    }
    optgroup {
      background-color: rgb(218, 216, 204)
    }
  }

  h1.chargender{
    font-size: 1em;
    border-bottom: 0;
    margin-right: .2em;
    margin-top: .2em;
    margin-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0px;
      border: 0px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
      font-family: $font-secondary;
    }
  }
}


.autocalc{
  display: flex;
  position: relative;

  .reset {
    position: absolute;
    right: 5px;
    top: 6px;
    color: var(--color-text-dark-secondary);
    font-size: 12px;
  }
}

.fate {
  input {
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid var(--color-border-light-tertiary);
    font-family: $font-secondary;
    font-size: 16px;
    width: -webkit-fill-available;
  }
  select {
    border-radius: 0;
    border: 0px;
    font-family: $font-primary;
    font-size: 12px;
    width: -webkit-fill-available;
    height: auto;
    text-align: end;
    background-color: unset;
  }
}

.stats {
  gap:0px;
  border-bottom: 1px solid var(--color-border-light-primary);
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.xp {
  gap: 0px;
  text-align: center;

  .xp-header{
    font-size:12px
  }

  .xp-item{
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid var(--color-border-light-tertiary);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-secondary;
    font-size: 18px;
  }
}

.fate-xp {
  border-bottom: 1px solid var(--color-border-light-primary);
}

.sheet-tabs {
  background: url('../module/assets/link banner.png');
  height: 35px;
  filter: drop-shadow(5px 5px 5px #000);
  width: 575px;
  z-index: 5;
  position: relative;
  flex: 0;
  margin: 0 0 5px -10px !important;
  border: none !important;
  align-items: center;
  .tab-item {
    text-align: center;
    padding-inline: 7px;
  }
  .tab-item.active {
    background: url(../module/assets/bracket-sm.png);
    background-repeat: no-repeat;
    background-size: 100% 170%;
    background-position-y: bottom;
  }
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  // height: 100%;
  height: 690px;
  overflow-y: auto;
  overflow-x: clip;
}

.tab-scroll {
  overflow-y: scroll;
  height: 250px;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.elemental{
  gap: 2px;
}

.element-resist{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  .left{
    margin-left: auto;
  }
  .right{
    margin-right: auto;
  }
  .element-picker{
    text-align: center;
    margin: 0;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid var(--color-border-light-tertiary);
    font-family: $font-secondary;
    font-size:18px
  }
  .W{
    color: #642422;
    font-weight: bold;
    text-shadow: 0 0 4px #ff0800;
  }
  .S{
    color: #51632C;
    font-weight: bold;
    text-shadow: 0 0 4px #83c300;
  }
}

.dragon{
  margin-left: auto;
  width: fit-content;
  margin-right: auto;
}

.load-dialog{
  display: flex;
}

.opposed-tst {
  float: right;
}

.unopposed-tst {
  float: right;
}

.delayed-power-btn-used {
  cursor: not-allowed;
  background: none;
  color: grey;
}
.delayed-power-btn-used:hover {
  box-shadow: none;
}