<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <input type="text" name="system.apCost" value="{{system.system.apCost}}" data-dtype="Number"/>
          <label class="resource-label">AP Cost</label>
        </div>
        <div class="resource">
          <input type="text" name="system.target" value="{{system.system.target}}" data-dtype="String"/>
          <label class="resource-label">Target</label>
        </div>
        <div class="resource">
          <input type="text" name="system.damageMod" value="{{system.system.damageMod}}" data-dtype="Number"/>
          <label class="resource-label">Damage</label>
        </div>
        <div class="resource">
          <input type="text" name="system.elementDamageMod" value="{{system.system.elementDamageMod}}" data-dtype="Number"/>
          <label class="resource-label">Elemental Damage</label>
        </div>
        <div class="resource">
          <input type="text" name="system.attacks" value="{{system.system.attacks}}" data-dtype="Number"/>
          <label class="resource-label">Number of Attacks</label>
        </div>
        <div class="resource">
          Weak Damage: 
          {{#if system.system.isWeak}}
            <input id="weak-toggle" type="checkbox" checked data-dtype="Boolean"/>
          {{else}}
            <input id="weak-toggle" type="checkbox"  data-dtype="Boolean"/>
          {{/if}}
        </div>
        <div class="resource">
          <select name="system.armamentType" type="text" value="{{system.system.armamentType}}">
            {{#select system.system.armamentType}}
              <option value="{{localize 'ARM.GS'}}">{{localize 'ARM.GS'}}</option>
              <option value="{{localize 'ARM.LA'}}">{{localize 'ARM.LA'}}</option>
              <option value="{{localize 'ARM.BS'}}">{{localize 'ARM.BS'}}</option>
              <option value="{{localize 'ARM.LB'}}">{{localize 'ARM.LB'}}</option>
              <option value="{{localize 'ARM.CS'}}">{{localize 'ARM.CS'}}</option>
              <option value="{{localize 'ARM.CG'}}">{{localize 'ARM.CG'}}</option>
              <option value="{{localize 'ARM.GL'}}">{{localize 'ARM.GL'}}</option>
              <option value="{{localize 'ARM.AR'}}">{{localize 'ARM.AR'}}</option>
              <option value="{{localize 'ARM.VL'}}">{{localize 'ARM.VL'}}</option>
            {{/select}}
          </select>
          <label class="resource-label">Associated with</label>
        </div>
        <div class="resource">
          <select name="system.type" type="text" value="{{system.system.type}}">
            {{#select system.system.type}}
              <option value="{{localize 'PWR.AtWill'}}">{{localize 'PWR.AtWill'}}</option>
              <option value="{{localize 'PWR.Encounter'}}">{{localize 'PWR.Encounter'}}</option>
              <option value="{{localize 'PWR.Weekly'}}">{{localize 'PWR.Weekly'}}</option>
              <option value="{{localize 'PWR.Misc'}}">{{localize 'PWR.Misc'}}</option>
              <option value="{{localize 'PWR.Upgrade'}}">{{localize 'PWR.Upgrade'}}</option>
            {{/select}}
          </select>
          <label class="resource-label">Type</label>
        </div>
        <div class="resource">
          <div class="grid grid-5col">
            <span>
              {{#if system.system.selectedElement.fire}}
                <input class="advanced" id="fire" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="fire" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Fire</div>
            </span>
            <span>
              {{#if system.system.selectedElement.elec}}
                <input class="advanced" id="electricity" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="electricity" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Electricity</div>
            </span>
            <span>
              {{#if system.system.selectedElement.dragon}}
                <input class="advanced" id="dragon" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="dragon" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Dragon</div>
            </span>
            <span>
              {{#if system.system.selectedElement.ice}}
                <input class="advanced" id="ice" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="ice" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Ice</div>
            </span>
            <span>
              {{#if system.system.selectedElement.water}}
                <input class="advanced" id="water" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="water" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Water</div>
            </span>
          </div>
          <label class="resource-label">Selected Element</label>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
