<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <input type="text" name="system.enc" value="{{system.system.enc}}" data-dtype="Number"/>
          <label class="resource-label">Encumberence</label>
        </div>
        <div class="resource">
          <input type="text" name="system.splendor" value="{{system.system.splendor}}" data-dtype="Number"/>
          <label class="resource-label">Splendor</label>
        </div>
        <div class="resource">
          <input type="text" name="system.damage.base" value="{{system.system.damage.base}}" data-dtype="Number"/>
          <input type="text" name="system.damage.upgrades" value="{{system.system.damage.upgrades}}" data-dtype="Number"/>
          <span>StrB +{{system.system.damage.value}}</span>
          <label class="resource-label">Damage</label>
        </div>
        <div class="resource">
          <input type="text" name="system.elementDamage.base" value="{{system.system.elementDamage.base}}" data-dtype="Number"/>
          <input type="text" name="system.elementDamage.upgrades" value="{{system.system.elementDamage.upgrades}}" data-dtype="Number"/>
          <span>+{{system.system.elementDamage.value}}</span>
          <label class="resource-label">Elemental Damage</label>
        </div>
        <div class="resource">
          <select name="system.armamentType" type="text" value="{{system.system.armamentType}}">
            {{#select system.system.armamentType}}
              <option value="{{localize 'ARM.GS'}}">{{localize 'ARM.GS'}}</option>
              <option value="{{localize 'ARM.LA'}}">{{localize 'ARM.LA'}}</option>
              <option value="{{localize 'ARM.BS'}}">{{localize 'ARM.BS'}}</option>
              <option value="{{localize 'ARM.LB'}}">{{localize 'ARM.LB'}}</option>
              <option value="{{localize 'ARM.CS'}}">{{localize 'ARM.CS'}}</option>
              <option value="{{localize 'ARM.CG'}}">{{localize 'ARM.CG'}}</option>
              <option value="{{localize 'ARM.GL'}}">{{localize 'ARM.GL'}}</option>
              <option value="{{localize 'ARM.AR'}}">{{localize 'ARM.AR'}}</option>
              <option value="{{localize 'ARM.VL'}}">{{localize 'ARM.VL'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Type</label>
          <select name="system.skill" type="text" value="{{system.system.skill}}">
            {{#select system.system.skill}}
              <option value="{{localize 'ARM.Heavy'}}">{{localize 'ARM.Heavy'}}</option>
              <option value="{{localize 'ARM.Light'}}">{{localize 'ARM.Light'}}</option>
              <option value="{{localize 'ARM.Ranged'}}">{{localize 'ARM.Ranged'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <div class="grid grid-5col">
            <span>
              {{#if system.system.selectedElement.fire}}
                <input class="advanced" id="fire" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="fire" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Fire</div>
            </span>
            <span>
              {{#if system.system.selectedElement.elec}}
                <input class="advanced" id="electricity" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="electricity" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Electricity</div>
            </span>
            <span>
              {{#if system.system.selectedElement.dragon}}
                <input class="advanced" id="dragon" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="dragon" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Dragon</div>
            </span>
            <span>
              {{#if system.system.selectedElement.ice}}
                <input class="advanced" id="ice" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="ice" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Ice</div>
            </span>
            <span>
              {{#if system.system.selectedElement.water}}
                <input class="advanced" id="water" type="checkbox" checked data-dtype="Boolean"/>
              {{else}}
                <input class="advanced" id="water" type="checkbox" data-dtype="Boolean"/>
              {{/if}}
              <div class="resource">Water</div>
            </span>
          </div>
          <label class="resource-label">Selected Element</label>
        </div>
        <div class="resource">
          <input type="text" name="system.overloadPoints" value="{{system.system.overloadPoints}}" data-dtype="Number"/>
          <label class="resource-label">Overload Points</label>
        </div>
        <div class="resource">
          <span>
            <input type="text" name="system.capacity.power" value="{{system.system.capacity.power}}" data-dtype="Number"/>
            <span>Powers</span>
          </span>
          <span>
            <input type="text" name="system.capacity.misc" value="{{system.system.capacity.misc}}" data-dtype="Number"/>
            <span>Misc. Powers</span>
          </span>
          <label class="resource-label">Capacity</label>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="upgrades">Upgrades</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Powers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="powers">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
      </div>
    </div>

    {{!-- Upgrades Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="upgrades">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula</label>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
